.version.contact_us /* version checker */
{
	color: #00000E;
	background-color: #45366F;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 800px;
	min-height: 50px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 748px;
	margin-left: auto;
	margin-right: auto;
}

#ppu880
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#pu880
{
	width: 0.01px;
	padding-bottom: 86px;
}

#u880
{
	z-index: 45;
	height: 86px;
	background-color: #FFFFFF;
}

.js #u880.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u880-bw
{
	z-index: 45;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -36px;
}

#u882
{
	z-index: 54;
	width: 240px;
	background-color: transparent;
	position: fixed;
	top: -15px;
	left: -83px;
}

#u882:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.75);
	width: 240px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(255,255,255,0.75);
}

#u882_img:hover
{
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
}

#menuu830
{
	z-index: 2;
	width: 1000px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 51px;
	left: -100px;
}

#u873
{
	width: 141px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u874
{
	width: 141px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u874:hover
{
	background-color: #999999;
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#u877-4
{
	width: 141px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u874:hover #u877-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u874:active #u877-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u866
{
	width: 141px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 143px;
}

#u869
{
	width: 141px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u869:hover
{
	background-color: #999999;
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#u870-4
{
	width: 141px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u874.MuseMenuActive #u877-4,#u869:hover #u870-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u869:active #u870-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u838
{
	width: 141px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 286px;
}

#u841
{
	width: 141px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u841:hover
{
	background-color: #999999;
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#u844-4
{
	width: 141px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u869.MuseMenuActive #u870-4,#u841:hover #u844-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u841:active #u844-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u852
{
	width: 141px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 429px;
}

#u855
{
	width: 141px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u855:hover
{
	background-color: #999999;
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#u857-4
{
	width: 141px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u841.MuseMenuActive #u844-4,#u855:hover #u857-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u855:active #u857-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u859
{
	width: 141px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 572px;
}

#u860
{
	width: 141px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u860:hover
{
	background-color: #999999;
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#u861-4
{
	width: 141px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u855.MuseMenuActive #u857-4,#u860:hover #u861-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u860:active #u861-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u831
{
	width: 141px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 715px;
}

#u832
{
	width: 141px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u832:hover
{
	background-color: #999999;
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#u874:active,#u869:active,#u841:active,#u855:active,#u860:active,#u832:active
{
	background-color: #6B6B6B;
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#u835-4
{
	width: 141px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u860.MuseMenuActive #u861-4,#u832:hover #u835-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u832:active #u835-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u832.MuseMenuActive #u835-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u845
{
	width: 142px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 858px;
}

#u848
{
	width: 142px;
	background-color: #C4C4C4;
	padding-bottom: 16px;
	position: relative;
}

#u848.MuseMenuActive
{
	background-color: #7F7F7F;
	border-radius: 5px;
	width: 142px;
	min-height: 0px;
	margin: 0px;
}

#u849-4
{
	width: 142px;
	min-height: 18px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 0px;
}

#u848:hover #u849-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u848:active #u849-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u848.MuseMenuActive #u849-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u874.MuseMenuActive #u877-4 p,#u869.MuseMenuActive #u870-4 p,#u841.MuseMenuActive #u844-4 p,#u855.MuseMenuActive #u857-4 p,#u860.MuseMenuActive #u861-4 p,#u832.MuseMenuActive #u835-4 p,#u848.MuseMenuActive #u849-4 p
{
	font-size: 15px;
	font-weight: bold;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u881-8
{
	z-index: 46;
	width: 242px;
	min-height: 51px;
	background-color: transparent;
	line-height: 15px;
	color: #7F7F7F;
	font-size: 11px;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: fixed;
	top: -12px;
	left: 163px;
}

#u881-8:hover
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 51px;
	width: 242px;
	margin: 0px;
}

#u881-8:hover p
{
	font-weight: normal;
}

body
{
	position: relative;
	min-width: 800px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

