.version.for_recruiters /* version checker */
{
	color: #0000E2;
	background-color: #8DD560;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 800px;
	min-height: 50px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 748px;
	margin-left: auto;
	margin-right: auto;
}

#ppu1232
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#pu1232
{
	width: 0.01px;
	padding-bottom: 86px;
}

#u1232
{
	z-index: 45;
	height: 86px;
	background-color: #FFFFFF;
}

.js #u1232.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u1232-bw
{
	z-index: 45;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -36px;
}

#u1234
{
	z-index: 54;
	width: 240px;
	background-color: transparent;
	position: fixed;
	top: -15px;
	left: -83px;
}

#u1234:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.75);
	width: 240px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(255,255,255,0.75);
}

#u1234_img:hover
{
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
}

#menuu1182
{
	z-index: 2;
	width: 1000px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 51px;
	left: -100px;
}

#u1225
{
	width: 141px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1226
{
	width: 141px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u1226:hover
{
	background-color: #999999;
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#u1229-4
{
	width: 141px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1226:hover #u1229-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u1226:active #u1229-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u1218
{
	width: 141px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 143px;
}

#u1221
{
	width: 141px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u1221:hover
{
	background-color: #999999;
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#u1222-4
{
	width: 141px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1226.MuseMenuActive #u1229-4,#u1221:hover #u1222-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u1221:active #u1222-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u1190
{
	width: 141px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 286px;
}

#u1193
{
	width: 141px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u1193:hover
{
	background-color: #999999;
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#u1196-4
{
	width: 141px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1221.MuseMenuActive #u1222-4,#u1193:hover #u1196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u1193:active #u1196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u1204
{
	width: 141px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 429px;
}

#u1207
{
	width: 141px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u1207:hover
{
	background-color: #999999;
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#u1209-4
{
	width: 141px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1193.MuseMenuActive #u1196-4,#u1207:hover #u1209-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u1207:active #u1209-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u1211
{
	width: 141px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 572px;
}

#u1212
{
	width: 141px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u1212:hover
{
	background-color: #999999;
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#u1226:active,#u1221:active,#u1193:active,#u1207:active,#u1212:active
{
	background-color: #6B6B6B;
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#u1213-4
{
	width: 141px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1207.MuseMenuActive #u1209-4,#u1212:hover #u1213-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u1212:active #u1213-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u1212.MuseMenuActive #u1213-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u1183
{
	width: 141px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 715px;
}

#u1184
{
	width: 141px;
	background-color: #C4C4C4;
	padding-bottom: 16px;
	position: relative;
}

#u1184.MuseMenuActive
{
	background-color: #7F7F7F;
	border-radius: 5px;
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#u1187-4
{
	width: 141px;
	min-height: 18px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 0px;
}

#u1184:hover #u1187-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u1184:active #u1187-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u1184.MuseMenuActive #u1187-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u1197
{
	width: 142px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 858px;
}

#u1200
{
	width: 142px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u1200:hover
{
	background-color: #999999;
	width: 142px;
	min-height: 0px;
	margin: 0px;
}

#u1200:active
{
	background-color: #6B6B6B;
	width: 142px;
	min-height: 0px;
	margin: 0px;
}

#u1201-4
{
	width: 142px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1200:hover #u1201-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u1200:active #u1201-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u1200.MuseMenuActive #u1201-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u1226.MuseMenuActive #u1229-4 p,#u1221.MuseMenuActive #u1222-4 p,#u1193.MuseMenuActive #u1196-4 p,#u1207.MuseMenuActive #u1209-4 p,#u1212.MuseMenuActive #u1213-4 p,#u1184.MuseMenuActive #u1187-4 p,#u1200.MuseMenuActive #u1201-4 p
{
	font-size: 15px;
	font-weight: bold;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1233-8
{
	z-index: 46;
	width: 242px;
	min-height: 51px;
	background-color: transparent;
	line-height: 15px;
	color: #7F7F7F;
	font-size: 11px;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: fixed;
	top: -12px;
	left: 163px;
}

#u1233-8:hover
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 51px;
	width: 242px;
	margin: 0px;
}

#u1233-8:hover p
{
	font-weight: normal;
}

body
{
	position: relative;
	min-width: 800px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

