.version.societies /* version checker */
{
	color: #00000E;
	background-color: #406598;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 800px;
	min-height: 50px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 748px;
	margin-left: auto;
	margin-right: auto;
}

#ppu1066
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#pu1066
{
	width: 0.01px;
	padding-bottom: 86px;
}

#u1066
{
	z-index: 45;
	height: 86px;
	background-color: #FFFFFF;
}

.js #u1066.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u1066-bw
{
	z-index: 45;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -36px;
}

#u1068
{
	z-index: 54;
	width: 240px;
	background-color: transparent;
	position: fixed;
	top: -15px;
	left: -83px;
}

#u1068:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.75);
	width: 240px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(255,255,255,0.75);
}

#u1068_img:hover
{
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
}

#menuu1016
{
	z-index: 2;
	width: 1000px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 51px;
	left: -100px;
}

#u1059
{
	width: 141px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1060
{
	width: 141px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u1060:hover
{
	background-color: #999999;
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#u1063-4
{
	width: 141px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1060:hover #u1063-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u1060:active #u1063-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u1052
{
	width: 141px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 143px;
}

#u1055
{
	width: 141px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u1055:hover
{
	background-color: #999999;
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#u1056-4
{
	width: 141px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1060.MuseMenuActive #u1063-4,#u1055:hover #u1056-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u1055:active #u1056-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u1024
{
	width: 141px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 286px;
}

#u1027
{
	width: 141px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u1027:hover
{
	background-color: #999999;
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#u1030-4
{
	width: 141px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1055.MuseMenuActive #u1056-4,#u1027:hover #u1030-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u1027:active #u1030-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u1038
{
	width: 141px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 429px;
}

#u1041
{
	width: 141px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u1041:hover
{
	background-color: #999999;
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#u1043-4
{
	width: 141px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1027.MuseMenuActive #u1030-4,#u1041:hover #u1043-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u1041:active #u1043-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u1045
{
	width: 141px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 572px;
}

#u1046
{
	width: 141px;
	background-color: #C4C4C4;
	padding-bottom: 16px;
	position: relative;
}

#u1046.MuseMenuActive
{
	background-color: #7F7F7F;
	border-radius: 5px;
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#u1047-4
{
	width: 141px;
	min-height: 18px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 0px;
}

#u1046:hover #u1047-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u1046:active #u1047-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u1046.MuseMenuActive #u1047-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u1017
{
	width: 141px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 715px;
}

#u1018
{
	width: 141px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u1018:hover
{
	background-color: #999999;
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#u1060:active,#u1055:active,#u1027:active,#u1041:active,#u1018:active
{
	background-color: #6B6B6B;
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#u1021-4
{
	width: 141px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1041.MuseMenuActive #u1043-4,#u1018:hover #u1021-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u1018:active #u1021-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u1018.MuseMenuActive #u1021-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u1031
{
	width: 142px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 858px;
}

#u1034
{
	width: 142px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u1034:hover
{
	background-color: #999999;
	width: 142px;
	min-height: 0px;
	margin: 0px;
}

#u1034:active
{
	background-color: #6B6B6B;
	width: 142px;
	min-height: 0px;
	margin: 0px;
}

#u1035-4
{
	width: 142px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1034:hover #u1035-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u1034:active #u1035-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u1034.MuseMenuActive #u1035-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u1060.MuseMenuActive #u1063-4 p,#u1055.MuseMenuActive #u1056-4 p,#u1027.MuseMenuActive #u1030-4 p,#u1041.MuseMenuActive #u1043-4 p,#u1046.MuseMenuActive #u1047-4 p,#u1018.MuseMenuActive #u1021-4 p,#u1034.MuseMenuActive #u1035-4 p
{
	font-size: 15px;
	font-weight: bold;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1067-8
{
	z-index: 46;
	width: 242px;
	min-height: 51px;
	background-color: transparent;
	line-height: 15px;
	color: #7F7F7F;
	font-size: 11px;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: fixed;
	top: -12px;
	left: 163px;
}

#u1067-8:hover
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 51px;
	width: 242px;
	margin: 0px;
}

#u1067-8:hover p
{
	font-weight: normal;
}

body
{
	position: relative;
	min-width: 800px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

